table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
  }

  #identRisk1 {  
    width: 400px;
 }

 .identRisk2, .identRisk3{
     width: 80px;
 }

 .main{
    border: 2px solid black;
 }
 
 .toHide{
   border: 0px ;
 }

 div{
   padding: 10px;
 }